/*
 * This file imports the Tailwind CSS framework. We intentionally leave the
 * preflight import commented out because Vite handles it automatically.
 */
/* @import "tailwindcss/preflight"; */
@import "tailwindcss";
@import "tailwindcss/utilities";